.blog-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.blog-listing {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

.blog-container ul.blog-posts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  overflow: scroll;
  height: 300px;
}

.blog-container ul.blog-posts li {
  list-style-type: none;
  padding: .75rem 1rem;
  border: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
}

.blog-container ul.blog-posts li.active {
  font-weight: 700;
}

.blog-container ul.blog-posts li:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.blog-search-container {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.blog-search-container .blog-search-title {
  color: #ffffff;
  background-color: #343a40;
  padding: .75rem 1.25rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.blog-search-container .blog-search-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding: 1.25rem;
}

.blog-search-container .blog-search-body .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 1rem;
}

.blog-search-container .blog-search-body .form-button {
  margin-top: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

