<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>GauravBytes.com: Your first Spring Security example</title>
<link rel="stylesheet"
	href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"></link>
<style type="text/css">
.form-container {
	padding: 20px;
}

.generic-container {
	width: 80%;
	margin: 20px auto;
	padding: 20px;
	background-color: #EAE7E7;
	border-radius: 4px;
}

.float-right {
float: right;
}
</style>
</head>
<body>
	<div class="generic-container">
		<div class="form-container">
			<div th:if="${param.error}" class="alert">Invalid username or
				password.</div>
			<div th:if="${param.logout}" class="alert">You have been logged
				out.</div>
			<form th:action="@{/login}" method="post">
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">User Name</label>
						<div class="col-md-7">
							<input type="text" name="username"
								class="username form-control input-sm"
								placeholder="Enter your name"></input>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Password</label>
						<div class="col-md-7">
							<input type="password" name="password"
								class="password form-control input-sm"
								placeholder="Enter your password"></input>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-actions float-right">
						<input type="submit" value="Log In" class="btn btn-success btn-sm"></input>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>